@{
    ViewData["Title"] = "Home";
}

@model Dictionary<int, List<TaskEntry>>
<div class="container round_outer round text-center matrix">
    <div class="row ">
        <div class="col outline">
            <h1>TASK MATRIX</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2 outline"></div>
        <div class="col-5 outline">
            <h5>Urgent:</h5>
        </div>
        <div class="col-5 outline">
            <h5>Non-Urgent:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2 outline">
            <h5>Important:</h5>
        </div>
        <div class="col-5 outline quad_segment">
            <br>
            @foreach (var task in Model[1])
             {
                <div class="task">
                    <b>@task.TaskName</b> - @task.DueDate | @task.Category.CategoryName
                    <br>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@task.TaskId">Edit</a> |
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@task.TaskId">Delete</a> |
                    <form method="post" asp-action="Finish" class="form-inline d-inline">
                        <button class="btn p-0 btn-link" type="submit">Finish</button>
                        <input type="hidden" data-val="true" data-val-required="The TaskId field is required." id="TaskId" name="TaskId" value="@task.TaskId">
                    </form>
                </div>
                <br>
             }
        </div>
        <div class="col-5 outline quad_segment">
            <br>
            @foreach (var task in Model[2])
            {
                <div class="task">
                    <b>@task.TaskName</b> - @task.DueDate | @task.Category.CategoryName
                    <br>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@task.TaskId">Edit</a> |
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@task.TaskId">Delete</a> |
                    <form method="post" asp-action="Finish" class="form-inline d-inline">
                        <button class="btn p-0 btn-link" type="submit">Finish</button>
                        <input type="hidden" data-val="true" data-val-required="The TaskId field is required." id="TaskId" name="TaskId" value="@task.TaskId">
                    </form>
                </div>
                <br>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2 outline">
            <h5>Not Important:</h5>
        </div>
        <div class="col-5 outline quad_segment">
            <br>
            @foreach (var task in Model[3])
            {
                <div class="task">
                    <b>@task.TaskName</b> - @task.DueDate | @task.Category.CategoryName
                    <br>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@task.TaskId">Edit</a> |
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@task.TaskId">Delete</a> |
                    <form method="post" asp-action="Finish" class="form-inline d-inline">
                        <button class="btn p-0 btn-link" type="submit">Finish</button>
                        <input type="hidden" data-val="true" data-val-required="The TaskId field is required." id="TaskId" name="TaskId" value="@task.TaskId">
                    </form>
                </div>
                <br>
            }
        </div>
        <div class="col-5 outline quad_segment">
            <br>
            @foreach (var task in Model[4])
            {
                <div class="task">
                    <b>@task.TaskName</b> - @task.DueDate | @task.Category.CategoryName
                    <br>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@task.TaskId">Edit</a> |
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@task.TaskId">Delete</a> |
                    <form method="post" asp-action="Finish" class="form-inline d-inline">
                        <button class="btn p-0 btn-link" type="submit">Finish</button>
                        <input type="hidden" data-val="true" data-val-required="The TaskId field is required." id="TaskId" name="TaskId" value="@task.TaskId">
                    </form>
                </div>
                <br>
            }
        </div>
    </div>
</div>

